<%#
meta 	:title => "Combine/Merge PDF files - pdfPi.com",
			:description => "Merge PDF files online with 3 easy steps, 1.) upload 2.) re-order 3.) combine. Drag and drop to upload multiple files at the same time. Drag and drop to re-order. Processing takes only a few seconds.",
     :keywords => %w(combine merge PDF documents online free)
%>

<h2> Combine PDF files </h2>
<p> Combine/merge multiple PDF files into one, with each file up to <b> <%= max_file_size_combine %> MB </b> and up to 10 files at a time. <br><span class="label label-primary">Tip</span> Drag & drop to upload and reorder before combining. </p>
<script>

$(document).ready(function(){
	$('#uploads').sortable({
		axis: 'y',
		dropOnEmpty: false,
		opacity: 0.4,
		scroll: true,
		update: function(){
			$.ajax({
			type: 'post',
			handle: '.handle',
			cursor: 'crosshair',
			items: 'div',
			data: $('#uploads').sortable('serialize'),
			dataType: 'script',
			complete: function(request){
				$('#uploads').effect('highlight');
				},
				url: '/home/sort'})
		}
	});
	$('#new_upload').data('fileupload').options.maxFileSize = 10000000;
	
});
</script>

<div id="uploads">
  <%= render @uploads %>
</div>
<div class="clear"></div>

<script id="template-upload" type="text/x-tmpl">
{% if (o.error) { %}
<div class="alert alert-error">
  {%=o.name%} ({%=o.size_with_format%}): {%=o.error%} <button type="button" class="close" data-dismiss="alert">&times;</button>
</div>
{% } else { %}
<div class="upload row">
  <div class="col-md-4"> {%=o.name%} ({%=o.size_with_format%}) </div>
  <div class="col-md-6 progress"><div class="bar" style="width: 0%;"></div></div>
</div>
{% } %}

</script>

<%= form_for Upload.new do |f| %>
	<span class="btn btn-success fileinput-button">
    <i class="icon-plus icon-white"></i>
    <span>Add files...</span>
    <%= f.file_field :upload, :multiple => true, :accept => 'application/pdf', :name => "upload[upload]" %>
  </span>
	<%= hidden_field_tag "job_id", session['combine_job_id'] %>

<% end %>
<br><br>
<div id="uploading"> </div>
<br>
<div>
<%= form_tag deliver_url do -%>
<%= hidden_field_tag "job", 'combine' %>
<button type="submit" class="btn btn-large btn-primary start" id="start">
  <i class="icon-folder-close icon-white"></i>
  <span>Combine into one PDF</span>
</button>
<% end -%>
</div>
