<!DOCTYPE html>
<html>
<head>
	<title> <%= @title || "Combine and Split PDF documents easily online for free - pdfPi.com" %> </title>
  <%#= metamagic :title => get_title, :description => "Combine, merge, split and stamp PDF documents online for free with pdfPi.com. No installation, no registration. Very fast. Large file size limit up to 100 MB. ", :keywords => %w(combine merge split stamp pdf file free online pdfpi.com) %>
	<meta content="<%= @description || "Combine, merge, split and stamp PDF documents online for free with pdfPi.com. No installation, no registration. Very fast. Large file size limit up to 100 MB. " %>" name="description" />
	<meta content="<%= @keywords.nil? ? "combine, merge, split, stamp, pdf, file, free, online, pdfpi.com" : @keywords.join(", ") %>"  name="keywords" />
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
		var pluginUrl = 
		 '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
		_gaq.push(['_require', 'inpage_linkid', pluginUrl]);
	  _gaq.push(['_setAccount', 'UA-37331499-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</head>
<body>
	<div class="container">
		
		<div class="row">
			<div class="span2"> 
				<%= link_to root_url do %>
					<%= image_tag "logo.png" %>
				<% end %> </div>
			<div class="span3 offset2">
				<br/>
				<%= link_to "https://chrome.google.com/webstore/detail/pdfpi/mcbaeddpndondhghkhdppebndnbcepdo", :target => "blank" do %>
					<%= image_tag 'chrome_store.png' %>
				<% end %>
			</div>
			<div class="span2 offset2" style="padding: 10px 0px">
				<div id="fb-root"></div>
				<div class="fb-like" data-send="true" data-layout="button_count" data-width="450" data-show-faces="true" data-font="verdana"></div>
			</div>
			<div class="span1" style="padding: 10px 0px">
				<div class="g-plusone" data-annotation="none" data-width="300"></div>
			</div>
		</div>
			<!-- Place this tag where you want the +1 button to render. -->
	</div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
	<!-- Place this tag after the last +1 button tag. -->
	<script type="text/javascript">
	  (function() {
	    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
	    po.src = 'https://apis.google.com/js/plusone.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
	  })();
	</script>
</div>
<div id="nav">
	<div class="container">
		<ul>
			
			<li><%= link_to root_url, :class => (controller_name == "home" and action_name == "index" ? "active" : "") do %>
				 Home
				<% end %>

    	<li><%= link_to combine_path, :class => (controller_name == "home" and action_name == "combine" ? "active" : "") do %> 
					 Combine PDFs
					<% end %>
			</li>
    	<li><%= link_to split_path, :class => (controller_name == "home" and action_name == "split" ? "active" : "") do %>
					 Split PDF
	 			<% end %>
			</li>
			</li>
			<li><%= link_to stamp_path, :class => (controller_name == "home" and action_name == "stamp" ? "active" : "") do %> 
					 Stamp PDF
					<% end %>
			</li>
			<li><%= link_to why_us_path, :class => (controller_name == "home" and action_name == "why_us" ? "active" : "") do %>
					 Why us?
	 			<% end %>
			</li>
			<li><%= link_to feedback_path, :class => (controller_name == "feedback" ? "active" : "") do %>
					 Feedback
	 			<% end %>
			</li>
			<li><a href="http://pdfpi.blogspot.sg" target="_blank"> Blog </a>
			</li>
		</ul>
	</div>
</div>
<!-- 
<div class="navbar container">
  <div class="navbar-inner">
    <div class="container">
      .btn-navbar is used as the toggle for collapsed navbar content 
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      Everything you want hidden at 940px or less, place within here 
      <div class="nav-collapse collapse">
         .nav, .navbar-search, .navbar-form, etc 
        <ul class="nav">
        	<li><%= link_to "Home", root_url %></li>
        	<li><%= link_to "Combine PDFs", combine_path %> </li>
        	<li><%= link_to "Split PDF", split_path %> </li>
        	
        </ul>
      </div>
    </div>
  </div>
</div>
-->
<div class="container">
	<% flash.each do |name, msg| %>
		<div class="alert alert-<%= name == :notice ? 'info' : name %>">
			<a class="close" data-dismiss="alert">x</a>
			<%= raw msg %>
		</div>
	<% end %>
	<%= yield %>
</div>

<div id="footer">
	<div class="container">
		<%= link_to root_url do %>
			 pdfPi.com - your trusted online pdf processing site
		<% end %> |
		<%= link_to stamp_path do %> 
					 PDF online stamping tool
					<% end %> |
  	<%= link_to combine_path do %> 
				 combine / merge pdf online
				<% end %> |
  	<%= link_to split_path do %>
				 online pdf splitter
 			<% end %> |
		<%= link_to why_us_path do %>
				 why pdfpi.com
 			<% end %>
		|
	&copy; <%= Time.now.year %> pdfPi
	</div>
</div>
</body>
</html>
